/* Pc>=1024 Table>=740 & < 1024px Mobile: <740px pc  */
@media (min-width: 1024px) {}

/* low pc */
@media (max-width:1200px) {
    .content__home-text {
        padding-top: 50px;
    }

    .content__hot-sales-product-btn {
        width: 160px;
    }

    .category-btn {
        font-size: 1.2rem;
    }

    .category-list {
        font-size: 1.3rem;
    }

    .content__create-text-heading {
        font-size: 6rem;
    }

    .content__create-text-btn a {
        padding: 9px 40px 11px;
    }

    .footer__text-social-icon {
        margin-bottom: 12px;
    }
}

/* ipad mobile  */
@media (max-width: 1023px) {
    .open-on-mb-tl {
        display: block;
    }

    .header__nav-list {
        display: none;
    }

    .content__create-text-btn a {
        display: block;
    }

    .content__create-text-btn-create-item {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .category-btn {
        height: 50px;
        min-width: 130px;
    }

    .content__hot-sales-category,
    .content__hot-auction-category {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
        max-width: 100%;
    }

    .content__hot-sales-category::-webkit-scrollbar,
    .content__hot-auction-category::-webkit-scrollbar {
        display: none;
    }

    .category-list {
        height: 50px;
        min-width: 130px;
    }

    .content__hot-auction-category-list {
        display: flex;
        align-items: center;
    }

    .content__hot-sales-category-list {
        display: flex;
        align-items: center;
    }


    .content__all-cate-list {
        overflow-x: auto;
        max-width: 100%;
    }

    .content__all-cate {
        padding-bottom: 50px;
    }

    .content__all-cate-list::-webkit-scrollbar {
        display: none;
    }

    .content__home {
        padding: 0px 0 99px;
    }

    .page-connect-wallet {
        padding: 20px 0 50px;
    }

    .page-ranking {
        padding: 0 0 50px;
    }

    .page-ranking__content-heading {
        margin: 20px 0;
    }

    .page-help {
        padding: 20px 0 50px;
    }

    .page-sign {
        padding: 20px 0 50px;
    }

    .page-blog {
        padding: 20px 0 50px;
    }

    .page-contact {
        padding: 20px 0 50px;
    }
}

/* ipad nho */
@media (max-width: 992px) {

    .content__create-sales-item {
        min-height: 0;
    }

    .page-sign__content-form {
        width: 100%;
        margin: 0;
    }
}


/* ipad  */
@media (min-width: 740px) and (max-width: 1023px) {
    .content__create-text {
        margin-left: 0;
    }

    .content__home-text {
        padding-top: 0;
    }

}


/* mobile bs */
@media (max-width:768px) {
    .content__create-text {
        margin-left: 0;
        margin-top: 30px;
    }

    .footer {
        padding: 60px 0;
    }

    .footer__contact {
        margin-left: 0;
    }

    .footer__content-menu {
        min-width: 300px;
    }

    .footer__content-menu {
        margin-bottom: 30px;
    }

    .footer__text-logo {
        width: 40%;
    }

}


/* mobile  */
@media (max-width:739px) {
    .footer__content-menu {
        min-width: 200px;
    }

    .header__btn-connect {
        padding: 10px 5px 10px 5px;
        font-size: 1.5rem;
    }

    .content__home-text {
        padding-top: 0;
    }

    .header__logo {
        width: 38%;
    }

    .header__logo img {
        width: 100%;
    }

    .content__create {
        padding-bottom: 50px;
    }

    .content__top-creators {
        padding-bottom: 50px;
    }

    .content__hot-sales-product-btn {
        width: 135px;
    }

    .page-help__content-wapper {
        flex-direction: column;
    }

    .page-help__content-item {
        width: 100%;
    }

    .footer__content-menu {
        min-width: 150px;
    }

    .modal__container {
        width: 90%;
    }

    .footer__text-logo {
        width: 40%;
    }

    .page-sign__content-form-input-title::before,
    .page-sign__content-form-input-title::after {
        width: 30%;
    }

}

@media (max-width:400px) {
    .hide-on-400 {
        display: none;
    }

    .page-sign__content-form-input-title::before,
    .page-sign__content-form-input-title::after {
        width: 25%;
    }
}

/* mobile ip 5s */
@media (max-width:350px) {
    .content__creat-sales-text-heading {
        font-size: 2.9rem;
    }

    .page-ranking-pagi-btn {
        display: block;
        margin: 0 auto 10px;
    }

    .modal__container {
        padding: 8px;
    }

    .modal__container-icon-close {
        font-size: 4rem;
    }

    .header__btn-connect {
        font-size: 1.2rem;
    }

    .on-the-top a i {
        font-size: 3rem;
        color: var(--while-color);
        cursor: pointer;
    }
}